doctype html

html.mdl-js
  head
    meta(name='viewport',content='width=device-width,initial-scale=1')
    meta(charset='UTF-8')
    link(rel="icon",href="/assets/img/favicon.ico",type="image/x-icon")
    script(src='/assets/script/core/jquery-3.2.1.min.js')
    link(rel='stylesheet',href='/assets/css/compiled/main.css')
    script(src='/assets/script/core/body.js')

    title=global.essentials.formatTitle(['Admin', 'Image Upload'])
    script(src='/assets/script/admin/img_upload.js')
    style.
      #cancel {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
      body {
        background-color: #eee !important
      }

  body
    h1.centerText Upload Images

    form(enctype='multipart/form-data',method='POST',onsubmit='return check()')#imgForm.styledForm 
      br
      center
        label(for='imageUpload').btn.btnBlue.btnRaised Select Pictures
        input(type='file',accept='image/*',name='file',multiple='multiple')#imageUpload.hidden
        p#imageDesc
        hr
        input(type='submit',value='Upload').btn.btnRaised.btnRed
      input(type='button', value='Cancel')#cancel.btn.btnRaised.btnYellow
