extends ../core/template.pug

block headExtra
  title=global.essentials.formatTitle(['Admin', 'New Article'])
  link(rel='stylesheet',type='text/css',href='/assets/css/quill.snow.css')
  script(src='/assets/script/core/quill.min.js')
  script(src='/assets/script/core/image-resize.min.js')
  script(src='/assets/script/admin/new_article.js')
  style.
    iframe {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -275px;
      margin-top: -200px;
      box-shadow: 0 9px 46px 8px rgba(0,0,0,.14),0 11px 15px -7px rgba(0,0,0,.12),0 24px 38px 3px rgba(0,0,0,.2);
      border: 2px solid black;
      border-radius: 10px;
    }

block content
  h1 New Article
  form(onsubmit='return verifyForm()',method='POST').styledForm
    label(for='title').header.verticalLabel Choose a title
    input(type='text',name='title',placeholder='Title')#title
    input(type='hidden',name='content')#content
    div#titleerror.errorLabel.hidden
      | Title must be between 1 and 150 characters

    label(for='editor').header.verticalLabel Content
    div#editor
    br
    div#editorerror.errorLabel.hidden
      | Content can not be empty



    br
    button(type='submit').btn.btnRed.btnRaised Submit Article
