extends ../core/template.pug

block headExtra
  title=global.essentials.formatTitle('Admin Settings')
  script.
    $(document).ready(function () {
      // If the password length is under 6, show the tooltip and add red border
      $('#newpass').on('input', function (e) {
        if ( $('#newpass').val().length < 6 && $('#newpass').val().length !== 0 ) {
          $('#newpasserror').removeClass('hidden')
          $('#newpass').addClass('form-error')
        } else {
          $('#newpasserror').addClass('hidden')
          $('#newpass').removeClass('form-error')
        }

        // Check if new addition made two passwords equal
        checkPasswords()
      })

      $('#confirmpass').on('input', function (e) {
        checkPasswords()
      })

      // Check if confirmpass and newpass are equal
      function checkPasswords() {
        if ($('#confirmpass').val().length > 0) {
          if ($('#confirmpass').val() !== $('#newpass').val()) {
            $('#confirmpass').addClass('form-error')
            $('#confirmpasserror').removeClass('hidden')
          } else {
            $('#confirmpass').removeClass('form-error')
            $('#confirmpasserror').addClass('hidden')
          }
        }
      }
    })

    function verifyForm() {
      if ($('#curpass').val().length > 0) {
        if ($('#newpass').val().length >= 6) {
          if ($('#newpass').val() === $('#confirmpass').val()) {
            return true;
          }
        }
      }
      return false;
    }

block content
  h1 Admin Settings
  form(method='post',onsubmit='return verifyForm()').styledForm
    label(for='curpass').header.verticalLabel Current master password
    input(name="curpass",type="password",placeholder='Current Password',required)#curpass

    hr

    h3 Change password

    label(for='newpass').header.verticalLabel New password
    input(name='newpass',type='password',placeholder='New Password')#newpass
    div#newpasserror.errorLabel.hidden
      | Password must be at least 6 characters
    label(for='confirmpass').header.verticalLabel Confirm password
    input(type='password',placeholder='Confirm Password')#confirmpass
    div#confirmpasserror.errorLabel.hidden
      | Passwords do not match
    br
    button(type="submit").btn.btnRed.btnRaised Submit Changes
