extends ../core/template.pug

block headExtra
	title=global.essentials.formatTitle("Blogs")
	style.
		#preview {
			border: 1px solid black;
			border-radius: 10px;
			padding: 10px;
			margin: -5px 0px 10px 0px;
		}
		
	script.
		$(document).ready(function () {
				$('#content').on('input', function () {
						console.log('input')
						$('#preview').html($('#content').val());
				})
		})

block content
	h1 Upload blog
	form(method='POST').styledForm
		label(for='title').header.verticalLabel Title
		input(name="title",type="text",placeholder='Title', required)#title
		br
		label(for='content').header.verticalLabel Content
		textarea(name='content',placeholder='Content', required)#content
		p Preview:
		div#preview
		br
		button(type="submit").btn.btnRed.btnRaised Post
