extends ../core/template.pug

block headExtra
  title=global.essentials.formatTitle("Login")

block content
  h1 Login
  form(method="POST").styledForm
    label(for='user').header.verticalLabel Username
    input(name="user",type="text",placeholder='Username')#user
    br
    label(for='pass').header.verticalLabel Password
    input(name='pass',type="password",placeholder='Password')#pass
    br
    button(type="submit").btn.btnRed.btnRaised Login
