extends ../core/template.pug

block headExtra
	title=global.essentials.formatTitle("Register")
	script(src="/assets/script/account/register.js")

block content
	h1 Register
	form(method="POST", onsubmit="return validateForm()").styledForm
		p.header Account Information
		label(for='user').verticalLabel Username
		input(name="user",type="text",placeholder='Username',maxlength="20")#user
		div(for='user')#user1.errorLabel.hidden Username must be between 0 and 20 characters
		div(for='user')#user2.errorLabel.hidden Username may only consist of letters, numbers, and symbols: ._!-@#$%^&*()]
		
		label(for='email').verticalLabel Email
		input(name="email",type="text",placeholder='Email')#email
		div(for='email').errorLabel.hidden Please enter a valid email
		
		p.header Security
		label(for='pass').verticalLabel Password
		input(name='pass',type="password",placeholder='Password')#pass
		div(for='pass').errorLabel.hidden Password must be between 6 and 512 characters

		
		label(for='pass2').verticalLabel Confirm Password
		input(type="password",placeholder='Confirm password')#pass2
		div(for='pass2').errorLabel.hidden Passwords do not match
		div#passRecsDiv.tabbedFormBlock.hidden
			p(style='text-decoration: underline') Recommendations (not required)
			div(style='color: red')#passConsDiv.hidden
				p Your password does not have:
				ul#passCons
			div(style='color: green')#passProsDiv.hidden
				p Your password does have:
				ul#passPros
		
		br
		button(type="submit").btn.btnRed.btnRaised Register
