extends ../core/template.pug

block headExtra
	title=global.essentials.formatTitle("Login")
	script(src="/assets/script/account/settings.js")

block content
	h1 Settings
	form(method="POST").styledForm
		p.header Change password
		label(for='curpass').verticalLabel Current password
		input(name='curpass',type='password',placeholder='Current password')#curpass

		label(for='newpass').header.verticalLabel New password
		input(name='newpass',type="password",placeholder='New password')#newpass
		div(for='newpass').errorLabel.hidden Password must be between 6 and 512 characters

		label(for='pass2').header.verticalLabel Confirm new password
		input(type="password",placeholder='Confirm current password')#newpass2
		div(for='newpass2').errorLabel.hidden Passwords do not match
		div#passRecsDiv.tabbedFormBlock.hidden
			p(style='text-decoration: underline') Recommendations (not required)
			div(style='color: red')#passConsDiv.hidden
				p Your password does not have:
				ul#passCons
			div(style='color: green')#passProsDiv.hidden
				p Your password does have:
				ul#passPros
				
		br
		button(type="submit").btn.btnRed.btnRaised Update password
