extends ../core/template.pug

block headExtra
	title=global.essentials.formatTitle('Home')

block content
	h1 Home page
	p Welcome to Weasie.com, the home page of Ryan "Weastie" Weast.
	| Here is where I place the projects I work on, as well as 
	| occassional technical blogs.
	hr
	p Youtube channel:&nbsp;
		a(href='https://www.youtube.com/channel/UCsA9BVmiT0sG4d6cwBzpM6Q') https://www.youtube.com/channel/UCsA9BVmiT0sG4d6cwBzpM6Q
	p Weastie.com is open source! Check out the github for:
		ul
			li
				a(href='https://github.com/Weastie/weastie') Weastie.com main
			li
				a(href='https://github.com/Weastie/BrashBrawl_Server') Brashbrawl Server
