extends ../core/template.pug

block headExtra
	title=global.essentials.formatTitle(["Games", "Brashbrawl"])
	script(type='text/javascript', src='/assets/jquery-3.2.1.min.js')
	script(type='text/javascript', src='/assets/script/games/phaser.min.js')
	script(type='text/javascript', src='/assets/script/games/box/boot.js')
	script.
		game.state.start('boot');
	style.
		#gameCanvas canvas {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		h1 {
			text-align: center;
		}

block content
	h1 Box
	div#gameCanvas
