extends ../core/template.pug

block headExtra
	title=global.essentials.formatTitle("Home")

block content
	h1 Games
	ul
		li
			a(href='/games/brashbrawl') Brashbrawl
		li
			a(href='/games/become_a_law') Become a Law (AP Gov Final Project)
		//- li
			a(href='/games/box') Box (beta)
